opencv-python
numpy
av
pyyaml
ruamel.yaml
pillow
loguru
pyautogui
python-xlib
loguru
tqdm
scipy
halo
git+https://github.com/pyinput/python-uinput
git+https://github.com/lilohuang/PyTurboJPEG.git
psycopg[binary,pool]
PyWinCtl
git+https://github.com/Adelaide-Autonomous-Racing-Challenge/ac-state.git
